<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= (current_page.data.title || '--') + " | Chigbo" %></title>

    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag "vendor/bootstrap/css/bootstrap.min.css" %>

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.7.0/css/lightgallery.min.css" integrity="sha256-nAgWUDEvmv2xzyXX2Bp6d2IPUR3R1d1Y9yab7GjtLBE=" crossorigin="anonymous" />
    <%= stylesheet_link_tag "vendor/fontawesome-free/css/all.min.css", rel: "stylesheet" %>
    <%= stylesheet_link_tag "vendor/font-mfizz/font-mfizz.css", rel: "stylesheet" %>

    <!-- Custom styles for this template -->
    <%# <link href="css/resume.min.css" rel="stylesheet"> %>
    <%= stylesheet_link_tag "site" %>

  </head>

  <body id="page-top">

    <%#= partial 'partials/nav' %>

    <%= partial "blog/side_pane" if current_page.blog_controller.present? %>
    <%= yield %>

    <!-- Bootstrap core JavaScript -->
    <%= javascript_include_tag "vendor/jquery/jquery.min.js" %>
    <%= javascript_include_tag "vendor/bootstrap/js/bootstrap.bundle.min.js" %>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.7.0/js/lightgallery-all.min.js" integrity="sha256-FaDg6fBmEzvk+0irHlDozUQk2k1XQBhY8yXW9pLeRFc=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

    <!-- Plugin JavaScript -->
    <%= javascript_include_tag "vendor/jquery-easing/jquery.easing.min.js" %>

    <!-- Custom scripts for this template -->
    <%# <script src="javascripts/resume.js"></script> %>
    <%= javascript_include_tag "site" %>
  </body>
</html>
