---
name: photos
title: Photos
---

<div class="">
  <div id="photo-grid">
    <a href="https://source.unsplash.com/9Ajly14vIDQ" class="grid-item">
      <%= image_tag "https://source.unsplash.com/9Ajly14vIDQ", alt: "Acave Mexican resturant, Oakland" %>
    </a>
    <a href="https://source.unsplash.com/dXZ0T99LFj8" class="grid-item">
      <%= image_tag "https://source.unsplash.com/dXZ0T99LFj8", alt: "14th Street, Oakland" %>
    </a>
    <a href="https://source.unsplash.com/dvm5D5Rqk6M" class="grid-item">
      <%= image_tag "https://source.unsplash.com/dvm5D5Rqk6M", alt: "UC Berkeley tower" %>
    </a>
    <a href="https://source.unsplash.com/utTiW3j0PUI" class="grid-item">
      <%= image_tag "https://source.unsplash.com/utTiW3j0PUI", alt: "Evening time at Landmark beach" %>
    </a>
    <a href="https://source.unsplash.com/Zv-4-3KfSMc" class="grid-item">
      <%= image_tag "https://source.unsplash.com/Zv-4-3KfSMc", alt: "Code and coffee" %>
    </a>
    <a href="https://source.unsplash.com/XvNDIb1qJvw" class="grid-item">
      <%= image_tag "https://source.unsplash.com/XvNDIb1qJvw", alt: "Lekki Conservation Center (LCC) canopy" %>
    </a>
    <a href="https://source.unsplash.com/jr7R01lOn1Y" class="grid-item">
      <%= image_tag "https://source.unsplash.com/jr7R01lOn1Y", alt: "Spin room, fitness center" %>
    </a>
  </div>
</div>
