
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <span class="d-block d-lg-none">Emmanuel Chigbo</span>
    <span class="d-none d-lg-block">
      <%= image_tag "avatar.jpg", width: '150px', class: 'img-thumbnail rounded-circle mx-auto' %>
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li>tags</li>
    </ul>
  </div>
</nav>

<div class="container">
  <div id="photo-grid"  data-masonry='{ "itemSelector": ".grid-item" }'>
    <div class="grid-item">
      <%= image_tag "https://source.unsplash.com/pP5x2sZ5IG0" %>
    </div>
    <div class="grid-item">
      <%= image_tag "https://source.unsplash.com/wVu2i2_3f6M" %>
    </div>
    <div class="grid-item">
      <%= image_tag "https://source.unsplash.com/tbwOzVyvKdU" %>
    </div>
    <div class="grid-item">
      <%= image_tag "https://source.unsplash.com/HteelUSjaTA" %>
    </div>
    <div class="grid-item">
      <%= image_tag "https://source.unsplash.com/-2Y325tNJ3M" %>
    </div>
    <div class="grid-item">
      <%= image_tag "https://source.unsplash.com/Ctaj_HCqW84" %>
    </div>
    <div class="grid-item">
      <%= image_tag "https://source.unsplash.com/S-YgbV2YsjU" %>
    </div>
  </div>
</div>
