
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <div id="top-nav" class="d-none d-lg-block">
    <nav>
      <ul>
        <li><a href="/">Resume</a></li>
        <!-- <span class="separator"></span>
        <li><a href="/blog">Blog</a></li> -->
        <span class="separator"></span>
        <li><a href="/photos" class="active">Photos</a></li>
      </ul>
    </nav>
  </div>

  <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <span class="d-block d-lg-none">Emmanuel Chigbo</span>
    <span class="d-none d-lg-block">
      <%= image_tag "avatar.jpg", width: '150px', class: 'img-thumbnail rounded-circle mx-auto' %>
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div id="top-nav" class="d-block d-lg-none">
      <nav>
        <ul>
          <li><a href="/">Resume</a></li>
          <!-- <span class="separator"></span>
          <li><a href="/blog">Blog</a></li> -->
          <span class="separator"></span>
          <li><a href="/photos" class="active">Photos</a></li>
        </ul>
      </nav>
    </div>

    <ul class="navbar-nav">
    </ul>
  </div>
  <div class="social-icons d-none d-lg-block">
    <a href="https://www.linkedin.com/in/chigboemmanuel">
      <i class="fab fa-linkedin-in"></i>
    </a>
    <a href="https://github.com/chigboio">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://twitter.com/Chigbo__">
      <i class="fab fa-twitter"></i>
    </a>
  </div>
</nav>

<div class="">
  <div id="photo-grid"  data-masonry='{ "itemSelector": ".grid-item" }'>
    <a href="https://source.unsplash.com/9Ajly14vIDQ" class="grid-item">
      <%= image_tag "https://source.unsplash.com/9Ajly14vIDQ", alt: "Acave Mexican resturant, Oakland" %>
    </a>
    <a href="https://source.unsplash.com/dXZ0T99LFj8" class="grid-item">
      <%= image_tag "https://source.unsplash.com/dXZ0T99LFj8", alt: "14th Street, Oakland" %>
    </a>
    <a href="https://source.unsplash.com/dvm5D5Rqk6M" class="grid-item">
      <%= image_tag "https://source.unsplash.com/dvm5D5Rqk6M", alt: "UC Berkeley tower" %>
    </a>
    <a href="https://source.unsplash.com/utTiW3j0PUI" class="grid-item">
      <%= image_tag "https://source.unsplash.com/utTiW3j0PUI", alt: "Evening time at Landmark beach" %>
    </a>
    <a href="https://source.unsplash.com/Zv-4-3KfSMc" class="grid-item">
      <%= image_tag "https://source.unsplash.com/Zv-4-3KfSMc", alt: "Code and coffee" %>
    </a>
    <a href="https://source.unsplash.com/XvNDIb1qJvw" class="grid-item">
      <%= image_tag "https://source.unsplash.com/XvNDIb1qJvw", alt: "Lekki Conservation Center (LCC) canopy" %>
    </a>
    <a href="https://source.unsplash.com/jr7R01lOn1Y" class="grid-item">
      <%= image_tag "https://source.unsplash.com/jr7R01lOn1Y", alt: "Spin room, fitness center" %>
    </a>
  </div>
</div>
